@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --mainTextColor: #000;
    --secondaryTextColor: #3f3f3f;
    --mainLinkColor: #00D7FF;
    --secondaryLinkColor: #00798f;
    --mainBackGroundColor: #fff;
    --secondaryBackGroundColor: #2c2e30;
}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    color: var(--mainTextColor);
    font-family: 'Roboto', sans-serif;
}

#side-nav{
    position: fixed;
    width: 350px;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
    background-color: var(--secondaryBackGroundColor);
}

#side-nav h2, p{
    color: #fff;
}

.avatar{
    text-align: center;
    margin-top: 24px;
}

li{
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    position: relative;
    max-width: 350px;
    height: 100vh;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#wrapper--hero p{
    margin-bottom: 16px
}

#bio, a{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

#email{
    color: var(--mainTextColor);
}

#email i{
    margin-right: 8px;
}

#social--list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

#social--list a{
    margin-left: 8px;
}

#social--list i{
    font-size: 20px;
    margin-right: 8px;
}

#social--list a:hover{
    color: var(--secondaryLinkColor);
}

#section--container{
    display: inline-block;
    width: 600px;
    margin: 8px auto 0;
    content: ""
}

.indent{
    margin-left: 32px;
}

.left--align{
    float: left;
}

.right--align{
    float: right;
}

.title{
    color: var(--mainTextColor);
    font-size: 18px;
}

.subtext{
    color: var(--secondaryTextColor);
}

.divider{
    border-bottom: 3px solid var(--mainLinkColor);
    width: 15%;
    margin-bottom: 16px;
}

.project{
    margin-bottom: 24px;
}