@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --mainTextColor: #000;
    --secondaryTextColor: #3f3f3f;
    --mainLinkColor: #00D7FF;
    --secondaryLinkColor: #00798f;
    --mainBackGroundColor: #fff;
    --secondaryBackGroundColor: #2c2e30;
}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    color: var(--mainTextColor);
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    background-color: var(--mainBackGroundColor);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container--main{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left--side{
    position: relative;
    background-color: var(--secondaryBackGroundColor);
    padding: 40px;
}

.profile--summary{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

#profile-pic{
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.profile--summary h2{
    color: #fff;
    font-size: 1.8em;
    margin-top: 20px;
    text-align: center;
}

.profile--title{
    color: #fff;
    font-size: .8em;
    font-weight: 300;
}

.section--title{
    color: #fff;
    margin: 20px 0;
}

.contact--info{
    margin-top: 40px;
}

.social--links a, i{
    color: #fff;
    padding: 12px;
}

.social--links a:hover{
    color: var(--mainLinkColor);
}

.social--links ul li{
    margin: 10px 0;
}

.social--links ul li i{
    font-size: 18px;
    color: var(--mainLinkColor)
}

.right--side{
    position: relative;
    background-color: var(--mainBackGroundColor);
    padding: 40px;
}

.divider{
    border-bottom: 3px solid var(--mainLinkColor);
    width: 15%;
    margin-bottom: 16px;
}